.cards {
	width: 15em;
	border: 1px solid rgb(221, 218, 224);
	border-radius: 20px;
	margin: 20px;
  }
  .cards > img {
	width: 14.8em;
	align-self: center;
	text-align: center;
	height: 14em;
	border-radius: 20px;
	z-index: -1;
  }
  .cards > h3 {
	margin: 20px 0px 0px 20px;
	font-size: 17px;
	color: rgba(0, 0, 0, 0.842);
  }
  .card-price {
	display: flex;
	justify-content: space-between;
	margin: 20px;
  }
  .card-amount{
	  display: flex;
	  flex-direction: column;
  }
  .card-price h4 {
	color: rgba(165, 165, 161, 0.658);
	font-size: 13px;
	font-weight: bold;
	margin: 0;
  }
  .card-price p {
	font-size: 14px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.842);
  }
  .buy-button button {
	background-color: transparent;
	border: 1px solid rgb(221, 218, 224);
	border-radius: 10px;
	padding: 7px 10px;
	font-size: 13px;
	font-weight: bold;
	align-self: flex-end;
	color: rgba(0, 0, 0, 0.842);
  }

  .buy-button button:hover{
	  background-color: black;
	  color: white;
	  cursor: pointer;
  }

  @media screen and (max-width: 960px) 
  {
	  .cardsss{
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  .cards{
		  width: 100%;
	  }
	  .cards > img
	  {
		  width: 100%;
	  }
  }